<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" th:href="@{/loginStylesheet.css}" href="../static/loginStylesheet.css"/>
	<meta charset="UTF-8"/>
	<title>Login</title>
</head>
<body>
<div class="container">
	<form class="login-form" method="post" th:action="@{/checkLogin}">

		<div class="input-fields">
			<h2>Login</h2>
			<div>
				<input name="username" type="text" placeholder="Username" required="required"/>
			</div>
			<div>
				<input name="password" type="password" placeholder="Password" required="required"/>
			</div>
		</div>
		<div>
			<button>Login</button>
			<a href="/templates/sign_up.html" th:href="@{/signup}"><label>Sign-up</label></a>
		</div>
	</form>
</div>
</body>
</html>